:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: VCR;
  src: url('./assets/vcr_osd.ttf');
}

@font-face {
  font-family: "Ubuntu";
  src: url('./assets/Ubuntu-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url('./assets/Ubuntu-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu";
  src: url('./assets/Ubuntu-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url('./assets/Ubuntu-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu";
  src: url('./assets/Ubuntu-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url('./assets/Ubuntu-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu";
  src: url('./assets/Ubuntu-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url('./assets/Ubuntu-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

.osd-safe {
  padding: 4rem;
}

.osd-bg {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.0;
}

.osd-sm {
  font-family: VCR;
  font-size: 21px;
}

.osd-md {
  font-family: VCR;
  font-size: 39px;
}

.osd-lg {
  font-family: VCR;
  font-size: 59px;
}
